* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#hero-container {
}

#hero-container {
  color: white;
}

#header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  border: 1px solid red;
  background-color: rgb(26, 153, 111);
}

#header-title {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border: 1px solid blue;
}

/* #nav,
#header-title {

} */

#nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

#nav li {
  border: 1px solid black;
  display: inline-block;
  padding: 20px;
}

#first {
  height: 500px;
  border: 1px solid black;
  background-color: white;
}

#first::before {
  color: black;
}

#second {
  height: 500px;
  background-color: darkgreen;
  border: 1px solid darkgreen;
}

#third {
  height: 500px;
  background-color: black;
  border: 1px solid black;
}
