* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  height: 100%;
  background-color: linear-gradient();
  background-image: linear-gradient();
}

button {
  height: 100px;
  width: 100px;
  padding: 20px;
  border: 2px solid black;
  margin: 10px;
}

input[type="radio"] {
  height: 100px;
  width: 100px;
  border-radius: 0%;
  border: 2px solid black;
}
/* .navCont {
  height: 100%;
  width: 200px;
  position: fixed;
  background-color: #111;
} */

body {
  background-color: linear-gradient();
  background-image: linear-gradient();
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 100px;
  height: 100px;
  padding: -5px;
  border: 2px solid black;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 50px;
  height: 50px;
}

.top {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.bottomLeft {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.topRight {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.topLeft {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.bottomRight {
  transform: rotate(0);
  -webkit-transform: rotate(0);
}

button:hover {
  background-color: lightblue;
}
