* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: rgb(50, 50, 189);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #89cff0;
}

#searchContainer {
  height: 300px;
  background-color: #89cff0;
  border: 0.2em solid black;

  margin: 25px;
}

#search {
}

#searchButton {
  height: 30px;
  width: 30px;
}

main {
  display: flex;
  direction: column;
  justify-content: space-between;
}

#carDataContainer {
  height: 300px;
  width: 300px;

  padding: 20px 3%;
  margin: 20px;
  border: 0.2em solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: #89cff0;
}

#testCont {
  display: flex;
  justify-content: space-between;
  flex: 0;
  flex-wrap: wrap;
}

#carTable {
  border: 0.2em solid black;
  padding: 20px 3%;
  margin: 20px;
  background-color: #89cff0;
}

#table {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 3%;
}
